.documents {
  height: 100%;
  background-color: #f5f4ec;
}

.documents-container {
  padding: 0 20px;
}

.documents-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.094);
  padding: 15px;
  height: 700px;
  background-color: white;
}

.documents-main {
  height: 100%;
}

.documents-main > h1 {
  text-align: center;
}

.documents-search-container {
  display: flex;
  align-items: center;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
}

.documents .sort-button {
  display: flex;
  background-color: #eef5ef;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  height: 100%;
  border-radius: 2px;
}

.documents-search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.documents-search {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 12px;
}

.documents .search-button {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.documents-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  background-color: #ebebeb;
  overflow-y: scroll;
  height: 100%;
  padding: 5px;
}

.document {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 10px;
  min-height: 80px;
  max-height: 80px;
}

.document-file-name {
  margin: 0;
}

.document > div:nth-child(1) {
  aspect-ratio: 1/1;
  background-color: #ceebc6;
  height: 100%;
}

.document > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.document > div:nth-child(2) > div {
  display: grid;
  gap: 8px;
}

.document > div:nth-child(2) > div > div {
  background-color: #d5e1d1;
  border-radius: 10px;
  width: 80px;
  height: 5px;
}

.document-view-button {
  aspect-ratio: 1/1;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.document-view-head {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.document-view-backBtn {
  aspect-ratio: 1;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.document-view-head > p {
  justify-self: center;
  font-weight: 600;
}

.document-view-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
}

.document-view-fileImg {
  background-color: rgb(220, 237, 220);
  background-image: linear-gradient(rgb(220, 237, 220), rgb(179, 209, 179));
  aspect-ratio: 3/4;
  width: 100%;
  max-width: 400px;
}

.document-view-description {
  border: 1px solid green;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  min-height: 300px;
  overflow-y: scroll;
}

.document-view-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.document-view-footer > button {
  padding: 10px 0;
  background-color: #a4ccb4;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
