.dashboard {
  background-color: #f5f4ec;
  height: 100%;
  overflow-y: scroll;
}

.dashboard-main {
  padding: 0 20px;
  display: grid;
  gap: 20px;
}

.intro {
  margin-top: 50px;
}

.intro > h1 {
  font-size: 25px;
  line-height: 1px;
}

.intro > p {
  color: rgb(137, 137, 137);
  /* line-height: 20px; */
}

.dashboard-items {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  /* padding: 10px 0; */
}

.dashboard-items > div {
  aspect-ratio: 3/2;
  width: 100%;
  min-width: 160px;
  max-width: 200px;
  border-radius: 10px;
  background-color: white;
}

.dashboard .search-file,
.notif-area {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  height: 300px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.094);
  padding: 15px;
}

.dashboard .search-button {
  background-color: #ceebc6;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: rgb(122, 122, 122);
}
