.requests {
  height: 100%;
  background-color: #f5f4ec;
  overflow-y: scroll;
}

.requests-container {
  padding: 0 20px;
}

.requests-content {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.094);
  padding: 15px;
}

.requests-main > h1 {
  text-align: center;
}

.requests-search-container {
  display: flex;
  align-items: center;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
}

.requests .sort-button {
  display: flex;
  background-color: #eef5ef;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  height: 100%;
  border-radius: 2px;
}

.requests-search-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.requests-search {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 12px;
}

.requests .search-button {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.requests-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.request {
  background-color: white;
  aspect-ratio: 2/1;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(126, 203, 126);
}

.request > div:nth-child(1) {
  aspect-ratio: 1/1;
  width: 40px;
  border-radius: 50%;
  background-color: #ceebc6;
  border: 1px solid green;
}

.request > div:nth-child(2) {
  display: grid;
  gap: 10px;
}

.request > div:nth-child(2) > div {
  background-color: #d5e1d1;
  border-radius: 10px;
  width: 80px;
  height: 5px;
}
